@font-face {font-family: Press; src: url( "PressStart2P-Regular.ttf");}



#mainTitle {
	background-color: #999999;
	color: #ffffff;
	text-align: center;
	padding: 5pt;
	border: 0pt;
	margin: 0pt;
}

#ButtonProgramArea {
	background-color: #333333;
	float: top;
	padding: 5pt;
}

#nav {
	background-color: #999999;
	float: left;
	width: 25pt;
	height: 450pt;
}

body{
	border: 0pt;
	margin: 0pt;
	padding: 0pt;
}

#main {
	/* background-image: url("TicTacToe.png"); */
	float: top;
	//padding: 5pt;
	background-color: #999999;
	color: #ffffff;
	font-size: 16pt;
}
h1 {

	font-family: Sarif;
	font-size: 36pt;
}

#CanvasArea {
	background-color: #777777;
	color: #000000;
	float: left;
}

#CanvasID {
	background-color: #ffffff;
	color: #000000;
}

#Updates {
	background-color: #bbbbbb;
	color: #ffffff;
	float: top;
	padding: 5pt;
}

button {
	color: #000000;
	background-color: #ffffff;
	border-width: 0pt;
	font-family: Press;
	font-size: 10pt;
	padding: 5pt;
}

#SlopeDiv {
	background-color: #555555;
	color: #ffffff;
	padding: 5pt;
	float: top;
}
#sizeDiv {
	background-color: #888888;
	color: #ffffff;
	padding: 5pt;
	float: top;
}

#FreqDiv {
	background-color: #555555;
	color: #ffffff;
	padding: 5pt;
	float: left;
}
